# Comments & Basic Data Types

In [1]:
# this is a comment

In [2]:
print("Hello")    # this is also a comment

Hello

In [3]:
"""
This is a multi-Line comment
"""
print("Hello")    # this is also a comment

Hello

In [4]:
# the following are all integers
print(2)
print(10)

2
10

In [5]:
# the following are all floats
print(10.953)
print(8.0)     #even this number is a float

10.953
8.0

In [6]:
# the following are booleans
print(True)
print(False)

True
False

In [7]:
# the follwing are strings
print("")
print("There's a snake in my boot!")
print("True")

There's a snake in my boot!
True

In [8]:
print("Daniel")

Daniel

In [9]:
type(3)

int

# Variables

In [10]:
num1 = 5
num2 = 8.4
print(num1, num2)

5 8.4

In [11]:
switch = True
print(switch)

True

In [12]:
# storing strings into a variable
name = 'John Smith'
fav_number = '9'
print(name, fav_number)

John Smith 9

In [13]:
# using two variables to create another variable
result = num1 + num2
print(result)

13.4

In [14]:
# adding, deleting, multiplying, dividing from a variable
result += 1    # same as saying result = result + 1
print(result)
result *= num1 # same as saying result = result * num1
print(result)

14.4
72.0

In [15]:
# defining a variable and overwriting it's value
name = 'John'
print(name)
name = 'Sam'
print(name)

John
Sam

In [16]:
x = 3
y = 10
result = x * y
print(result)

30

# Working with Strings

In [19]:
# using the addition operator without variables
name = "John" + " " + "Smith"
print(name)

John Smith

In [20]:
# using the addition operator with variables
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

John Smith

In [21]:
# injecting variables using the format method
name = "John"
print("Hello {}".format(name))
print("Hello {}, you are {} years old!".format(name, 28))

Hello John
Hello John, you are 28 years old!

In [23]:
# using the new f strings
name = "John"
print(f"Hello {name}")

Hello John

In [24]:
# using indexes to print each element
word = "Hello"
print(word[0])
print(word[1])
print(word[-1])

H
e
o

In [25]:
print(word[0:2])

He

In [26]:
print(word[0:5:2])

Hlo

In [27]:
x = 23
y = 4.5
z = False
name = "John"
print(f"{x}{y}{z}{name}")

234.5FalseJohn

# Manipulating Strings

In [28]:
# using the title method to capitalize a string
name = "john smith"
print(name.title())

John Smith

In [29]:
print(name.lower())

john smith

In [30]:
print(name.upper())

JOHN SMITH

In [31]:
# replacing an exclamation point with a period
words = "Hello there!"
print(words.replace("!","."))

Hello there.

In [32]:
# finding the starting index of our searched term
s = "Look over that way"
print(s.find("over"))

5

In [33]:
# removing white space with strip
name = "    john    "
print(name.strip())

john

In [34]:
print(name.lstrip())
print(name.rstrip())

john
    john

In [35]:
# converting a string into a list of words
s = "These words are separated by spaces"
print(s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [37]:
x = "uppercase"
print(x.upper())

UPPERCASE

In [38]:
x = "$$John Smith"
print(x.lstrip("$"))

John Smith

# Friday Project: Printing Receipts

In [74]:
# create a product and price for three items
p1_name, p1_price = "Book", 49.95
p2_name, p2_price = "Computer", 579.99
p3_name, p3_price = "Monitor", 124.89

# create a company name and information
company_name = "coding temple, inc."
company_address = "283 Franklin St."
company_city = "Boston, MA"

# declare ending message
message = "Thank for shopping with us today!"

# create a top border
print("*" * 50)

# print company information first, using format
print("*\t\t{}\t\t*".format(company_name.title()))
print("*\t\t{}\t\t*".format(company_address))
print("*\t\t{}\t\t\t*".format(company_city))

# print a line divier
print("=" * 50)

# print out header for section of items
print("*\tProduct Name\tProduct Price\t\t*")

# create a print statement for each product
print("*\t{}\t\t${}\t\t\t*".format(p1_name.title(),p1_price))
print("*\t{}\t${}\t\t\t*".format(p2_name.title(),p2_price))
print("*\t{}\t\t${}\t\t\t*".format(p3_name.title(),p3_price))

# print a line between sections
print("=" * 50)

# print out header for section of total
print("*\t\t\tTotal\t\t\t*")

# calculate total price and print out
total = p1_price + p2_price + p3_price
print("*\t\t\t${}\t\t\t*".format(total))

# print a line between sections
print("=" * 50)

# output thank you method
print("*\t\t\t\t\t\t*\n*\t{}\t*\n*\t\t\t\t\t\t*".format(message))

# create a bottom border
print("*" * 50)

**************************************************
*		Coding Temple, Inc.		*
*		283 Franklin St.		*
*		Boston, MA			*
==================================================
*	Product Name	Product Price		*
*	Book		$49.95			*
*	Computer	$579.99			*
*	Monitor		$124.89			*
==================================================
*			Total			*
*			$754.83			*
==================================================
*						*
*	Thank for shopping with us today!	*
*						*
**************************************************